.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.clearfix, .overflow-container, .flow-root {
    border: 2px solid red;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.overflow-container {
    overflow: hidden;
}

.flow-root {
    display: flow-root;
}